* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
  }

  body, html, iframe {
    width:  100%;
    height: 100%;
  }
  
  iframe {
    border: none;
  }

  body {
    display: flex;
  }

  .cover {
    width: 40%;
    position: absolute;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
  }

  .a {

    background-color: none;

  }