* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
  }

  body, html, iframe {
    width:  100%;
    height: 100%;
  }
  
  iframe {
    border: none;
  }

  body {
    display: flex;
  }